{% extends 'base.html' %}
{% block content %}
    <section class="py-5">
        <div class="container px-1 px-lg-3 mt-3">
            <h1>Item List</h1>
            <a href="{{ url_for('edit', id=None) }}" class="btn btn-primary mb-3">Add Item</a>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price €</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>
                            {% if product.id %}
                                <img src="{{ url_for('get_image', id=product.id) }}" alt="Item Image" height="200" width="300">
                            {% else %}
                                No Image
                            {% endif %}
                        </td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.description }}</td>
                        <td>
                            <a href="{{ url_for('edit', id=product.id) }}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="{{ url_for('delete', id=product.id) }}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
