{% extends 'base.html' %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
            <!-- Product Image -->
            <div class="col-md-6">
                <img
                    class="img-fluid"
                    src="{{ url_for('get_image', id=product.product_id) }}"
                    alt="{{ product.name }}"
                    onerror="this.src='{{ url_for('static', filename='assets/favicon.ico') }}';"
                />
            </div>
            <!-- Product Details -->
            <div class="col-md-6">
                <h2 class="fw-bolder">{{ product.name }}</h2>
                <p class="lead">€{{ product.price }}</p>
                <p>{{ product.description }}</p>
                <div class="d-flex">
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

